

#caroulsel{
    width: 800px;
    height:600px;
    margin: 50px 200px;
    overflow: hidden;
    box-shadow: 0 0 8px #000;
    position: relative;
}

#carousel img{
    position: absolute;
    z-index: 1;
    display: none;
    left: 0;
}

#carousel p {
    z-index:2;
    position: absolute; 
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px; 
    font-family: Arial; 
    font-size: 14px; 
    background: rgba(0,0,0,0.5);  
    color: #fff;
    }

